* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: got;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 19, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 70%;
}

.blist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blist::-webkit-scrollbar {
  display: none;
}

.item {
  padding-left: 20px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: ease 0.2s all;
}

.item * {
  pointer-events: none;
}

.item:hover {
  background-color: rgb(31, 32, 36);
}

.item h1 {
  font-size: 30px;
  width: 60%;
}

.item p {
  font-family: sans-serif;
  font-size: 20px;
}

.item:nth-child(odd) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.item:nth-child(10) {
  border-bottom: 2px solid white;
}

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#info {
  width: 80%;
  height: 70%;
  background-color: rgb(28, 29, 31);
  position: absolute;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s all ease-in-out;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

#info.active {
  transform: scale(1);
  display: flex;
  opacity: 100;
  animation-name: zoomIn;
  animation-duration: 0.2s;
}

#closeBtn {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  background-color: rgb(28, 29, 31);
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.bar:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#infoTitle {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 38px;
  padding-left: 20px;
}

.infoContainer {
  width: 100%;
  height: 80%;
  display: flex;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.infoContainer::-webkit-scrollbar {
  display: none;
}

#infoP1 {
  width: 40%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#infoP2 {
  width: 60%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#infoP1 p,
#infoP2 p {
  font-size: 22px;
  font-family: sans-serif;
}

#povChar {
  text-decoration: underline;
  cursor: pointer;
}

#charMenu {
  max-height: 50%;
  background-color: rgb(18, 19, 24);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  position: absolute;
  padding: 10px;
  bottom: 12%;
  left: 56%;
  flex-direction: column;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  pointer-events: none;
}

#charMenu::-webkit-scrollbar {
  display: none;
}

#povChar:hover * {
  pointer-events: fill;
  display: flex;
  opacity: 1;
}

#charMenu p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 5px 0;
  width: 100%;
  /* height: 30%; */
  text-decoration: none;
  font-size: 16px;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .item p {
    display: none;
  }
  .item h1 {
    width: 100%;
    font-size: 25px;
  }
  .item:nth-child(10) {
    border-bottom: 1px solid white;
  }
  #infoTitle {
    width: 90%;

    padding-left: 10%;
    font-size: 30px;
    text-align: center;
    align-self: center;
  }
  #charMenu {
    bottom: 3%;
    left: 52%;
  }
  .infoContainer {
    display: block;
  }
  #infoP1,
  #infoP2 {
    width: 100%;
    height: 30vh;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1600px) {
  .item h1 {
    font-size: 45px;
  }
  .item p {
    font-size: 30px;
  }
  #infoP1 p,
  #infoP2 p {
    font-size: 35px;
  }
  #infoTitle {
    font-size: 50px;
  }
  .bar {
    width: 55px;
    height: 6px;
  }
  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar:nth-child(2) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #closeBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
}
