* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: got;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 19, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#charContainer {
  margin: 20px;
  width: 80%;
  height: 60%;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  position: relative;
}

.item {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 29, 31);
  display: flex;
  align-items: center;
  padding-left: 8px;
  transition: 0.2s all ease-in-out;
  animation-name: zoomIn;
  animation-duration: 0.2s;
}

.item:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: rgb(47, 48, 49);
}

.item h1 {
  font-size: 13px;
  color: white;
}

@keyframes zoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

#paginator {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paginator p {
  color: white;
  margin: 0 70px 0 70px;
  text-decoration: underline;
  transition: 0.2s all ease-in-out;
  user-select: none;
}

#paginator p:hover {
  color: rgb(233, 212, 97);
  cursor: pointer;
}

#filters {
  width: 80%;
  height: 5%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-self: flex-start;
  position: relative;
}

.filtersDiv {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  color: white;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

#filters button {
  margin-left: 20px;
  border: none;
  font-size: 12px;
  height: 95%;
  padding: 0 10px 0 10px;
  transition: 0.2s all ease-in-out;
}

#filters button:hover {
  cursor: pointer;
  background-color: rgb(28, 29, 31);
  color: white;
}

#fil {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 19, 24);
  z-index: 10;
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.8s all ease;
}

#fil.active {
  left: 92.5%;
  width: 7.5%;
}

#fil.active #filterToggle i {
  transform: rotate(180deg);
}

#filterToggle i {
  transition: 0.8s all ease-in-out;
}

#filterToggle {
  color: white;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.aliveDiv {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(28, 29, 31);
  transform: scale(0);
  transition: 0.2s all ease-in;
}

#info.active {
  transform: scale(1);
}

#closeBtn {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  background-color: rgb(28, 29, 31);
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.bar:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

#infoTitle {
  width: 100%;
  height: 20%;
  font-style: 40px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

#infoCon {
  width: 100%;
  height: 80%;
  border: 1px solid white;
}
