* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: got;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 19, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#charContainer {
  margin: 20px;
  width: 80%;
  height: 60%;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 29, 31);
  display: flex;
  align-items: center;
  padding-left: 8px;
  transition: 0.2s all ease-in-out;
  animation-name: zoomIn;
  animation-duration: 0.2s;
}

.item:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: rgb(47, 48, 49);
}

.item h1 {
  font-size: 13px;
  color: white;
}

@keyframes zoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

#paginator {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paginator p {
  color: white;
  margin: 0 70px 0 70px;
  text-decoration: underline;
  transition: 0.2s all ease-in-out;
  user-select: none;
}

#paginator p:hover {
  color: rgb(233, 212, 97);
  cursor: pointer;
}
/* 
#filters {
  width: 80%;
  height: 5%;
  display: flex;
  
  align-items: center;
  justify-self: flex-start;
  position: relative;
}

.filtersDiv {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.filtersDiv div {
  width: 100%;
}

.filtersDiv:nth-child(1) {
  width: 60%;
}

label {
  color: white;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.filterButtons {
  width: 70%;
  height: 100%;
}

.filterButtons button {
  margin-left: 20px;
  width: 11%;
  border: none;
  font-size: 12px;
  height: 95%;
  
  transition: 0.2s all ease-in-out;
}

.filterButtons button:hover {
  cursor: pointer;
  background-color: rgb(28, 29, 31);
  color: white;
}

.filtersContainer {
  width: 35%;
  display: flex;
  height: 100%;
}

#fil {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 19, 24);
  z-index: 10;
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.8s all ease;
}

#fil.active {
  left: 92.5%;
  width: 7.5%;
}

#fil.active #filterToggle i {
  transform: rotate(180deg);
}

#filterToggle i {
  transition: 0.8s all ease-in-out;
}

#filterToggle {
  color: white;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.aliveDiv {
  display: flex;
  align-items: center;
} */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading,
#loadingInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: rgb(28, 29, 31);
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

#info.active {
  opacity: 100;
  top: 0;
}

#closeBtn {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  background-color: rgb(28, 29, 31);
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.bar:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

#infoTitle {
  width: 100%;
  height: 20%;
  font-style: 40px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

#infoCon {
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  top: 20%;
  opacity: 0;
  transition: 0.4s all ease;
}

#infoCon #loadingInfo {
  opacity: 100;
}

#infoCon.active {
  top: 0;
  opacity: 100;
}

#infoP1,
#infoP2,
#infoP3 {
  width: 33%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

#infoP1 p,
#infoP2 p,
#infoP3 p {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}

#infoP3 {
  width: 34%;
  height: 100%;
  /* border: 1px solid white; */
}

#filter {
  justify-self: flex-start;
}

#btn {
  background-color: rgb(18, 19, 24);
  border: none;
  /* color: blue; */
}

.dropdown-menu {
  background-color: rgb(18, 19, 24);
  width: 200px;
  padding: 10px;
}

label {
  color: white;
  font-size: 12px;
}

.filterBtn {
  width: 45%;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 5px 0 5px 0;
}

#btn:focus {
  border: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 30%;
  }
  #header {
    background-color: rgb(18, 19, 24);
  }
  #charContainer {
    height: 120%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  #filters {
    /* width: 50%; */
    /* height: 10%; */
    /* display: none; */
    flex-wrap: nowrap;
    margin-bottom: 10%;
  }
  .filtersDiv {
    width: 100%;
    margin: 0;
    height: 30%;
  }
  .filtersDiv:nth-child(1) {
    width: 100%;
  }
  .aliveDiv {
    width: 100%;
  }
  .filtersContainer {
    width: 60%;
    height: 200%;
    flex-direction: column;
    /* display: none; */
  }
  .filterButtons {
    height: 200%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #fil {
    width: 105%;
    height: 200%;
    top: -20px;
    align-items: flex-start;
    /* display: block; */
  }
  #fil.active {
    top: 150%;
    width: 105%;
    left: -10px;
    height: 80%;
  }
  .filterButtons button {
    width: 80%;
    height: 40%;
    /* display: none; */
  }

  #filterToggle i {
    transition: 0.8s all ease-in-out;
    transform: rotate(90deg);
  }
  #fil.active #filterToggle i {
    transform: rotate(270deg);
  }

  #filterToggle {
    /* color: white; */
    height: 20%;
    /* text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 15px; */
  }
  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #info::-webkit-scrollbar {
    display: none;
  }

  #infoTitle {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 76%;
    text-align: center;
    padding: 20px;
    font-size: 1.6em;
  }
  #infoCon {
    flex-direction: column;
    /* overflow: scroll; */
    height: 150vh;
  }
  #infoP1,
  #infoP2,
  #infoP3 {
    width: 100%;
    height: 40vh;
    justify-content: space-around;
  }
  #infoP1 p,
  #infoP2 p,
  #infoP3 p {
    font-size: 20px;
  }
  #paginator {
    margin-bottom: 20px;
  }
}
