* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: got;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 19, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#charContainer {
  margin: 20px;
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 29, 31);
  display: flex;
  align-items: center;
  padding-left: 8px;
  transition: 0.2s all ease-in-out;
  animation-name: zoomIn;
  animation-duration: 0.2s;
}

.item:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: rgb(47, 48, 49);
}

.item h1 {
  font-size: 13px;
  color: white;
}

@keyframes zoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

#paginator {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paginator p {
  color: white;
  margin: 0 70px 0 70px;
  text-decoration: underline;
  transition: 0.2s all ease-in-out;
  user-select: none;
}

#paginator p:hover {
  color: rgb(233, 212, 97);
  cursor: pointer;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lockScroll {
  overflow: hidden;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading,
#loadingInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#info {
  position: fixed;
  width: 90%;
  height: 80%;
  left: 5%;
  top: 100%;
  background-color: rgb(28, 29, 31);
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

#info.active {
  opacity: 100;
  top: 12vh;
}

#closeBtn {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  background-color: rgb(28, 29, 31);
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.bar:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

#infoTitle {
  width: 100%;
  height: 20%;
  font-style: 40px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

#infoCon {
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  top: 20%;
  opacity: 0;
  transition: 0.4s all ease;
}

#infoCon #loadingInfo {
  opacity: 100;
}

#infoCon.active {
  top: 0;
  opacity: 100;
}

#infoP1,
#infoP2,
#infoP3 {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

#infoP1 p,
#infoP2 p,
#infoP3 p {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}

#infoP3 {
  width: 34%;
  height: 100%;
}

#filters {
  width: 80%;
  height: 5%;
  display: flex;
}

.dropright {
  height: 100%;
}

#btn {
  background-color: rgb(18, 19, 24);
  border: none;
}

.dropdown-menu {
  background-color: rgb(18, 19, 24);
  width: 200px;
  padding: 10px;
}

label {
  color: white;
  font-size: 12px;
}

.filterBtn {
  width: 45%;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 5px 0 5px 0;
}

#btn:focus {
  border: none;
}

@media only screen and (min-width: 1600px) {
  #paginator p {
    font-size: 28px;
  }
  .item h1 {
    font-size: 22px;
  }
  .bar {
    width: 55px;
    height: 6px;
  }
  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar:nth-child(2) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #closeBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
  #infoTitle {
    font-size: 50px;
  }
  #infoP1 p,
  #infoP2 p,
  #infoP3 p {
    font-size: 30px;
  }
  .btn {
    font-size: 25px;
  }
  .dropdown-menu {
    width: 350px;
  }
  label {
    font-size: 15px;
  }
  .filterBtn {
    font-size: 18px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 25%;
    height: 150vh;
  }
  #header {
    background-color: rgb(18, 19, 24);
  }
  #charContainer {
    height: 120vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
  #info {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #info::-webkit-scrollbar {
    display: none;
  }

  #infoTitle {
    display: flex;
    justify-content: center;
    width: 76%;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
  }
  #infoCon {
    flex-direction: column;
    height: 150vh;
  }
  #infoP1,
  #infoP2,
  #infoP3 {
    width: 100%;
    height: 40vh;
    justify-content: space-around;
  }
  #infoP1 p,
  #infoP2 p,
  #infoP3 p {
    font-size: 20px;
  }
  #paginator {
    margin-bottom: 20px;
  }
}
